.title-signup {
  font-size: 30px;
  font-weight: 900;
  color: rgb(43, 160, 255);
}

.container-signup {
  background: linear-gradient(135deg, rgb(155, 255, 125), rgb(255, 245, 102));
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-signup {
  background-color: white;
  min-width: 350px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
}

.name,
.email,
.password {
  margin: 20px;
  color: rgb(177, 170, 162);
  font-size: 20px;
  font-weight: 700;
}

.password {
  margin-bottom: 40px;
}

.input {
  height: 32px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 1px solid rgb(255, 220, 103);
  bottom: 10px;
}

.error {
  color: red;
}

.submit {
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  border-radius: 25px;
  color: white;
  padding: 10px 60px;
  background: linear-gradient(to right, rgb(243, 233, 97), rgb(98, 252, 52));
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}

button:active {
  transform: translateY(2px);
}
